.portfolio-showcase-container {
  padding: 20px 45px;
}
.portfolio-showcase-container .portfolio-showcase-text .showcase-title {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
  border-left: 3px solid var(--third-color);
  padding-left: 10px;
  max-width: 1440px;
  margin:0 auto;
}

.web-showcase-container{
  width: 100%;
  /* padding: 20px 50px; */
  position: relative;
  max-width:1650px;
  margin: 0 auto;
}

.android-showcase-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1180px;
    margin: 0 auto;
}

.design-showcase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
.web-showcase-container, .android-showcase-container, .design-showcase-container{
  margin-top:40px;
}
.showcase-grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
.showcase-grid-item {
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  box-shadow: var(--app-shadow);
  transition: all 0.25s ease-in-out;
}
.showcase-grid-item img:hover {
  filter: grayscale(0);
}
.showcase-grid-item img {
  width: 100%;
  transition: all 0.25s ease-in-out;
}
.showcase-grid-item p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}

@media screen and (min-width: 600px) {
  .androidProject {
    width: 350px;
    margin: 0px auto;
    padding:5px;
  }
  .androidProject-main {
    margin-top:20px;
  }
  .showcase-title h3{
    font-size: 2em;
  }
  
}
@media screen and (min-width: 1024px) {
  .web-showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px 10px;
  }
.android-showcase-container{
  width: 750px;
}
}

@media screen and (min-width: 1280px) {
  .web-showcase-container {
    gap: 30px 25px;

  }
.android-showcase-container{
  width: 1280px;


}
.showcase-grid-item img {
  filter: grayscale(100%);

}
.showcase-title h3{
  font-size: 4em;
}

}