.contactBar{
    width:40px;
    height:100vh;
    position:fixed;
    right:0;
    top:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index: 1000;
}

.contactBar .social-container{
    position:absolute;
    bottom:0;
}

.contactBar .social-container li ,.call-container li{
    padding:10px 10px
}
.contactBar .call-container li p{
    font-size:20px;
    color: #707070;
}
.contactBar .social-container li p{
    font-size: 16px;
    color: #707070;
}