.topNavbar{
    width: 100%;
    padding:5px 15px;
    background-color:var(--secondary-color);
}
.topNavbar .navbarItems{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.navBarControlButtons p{
    font-size:25px
}

.navBarLogo{
    width: 140px;
}
.navBarLogo img{ 
    max-width: 100%;
}